
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
  
.uploader-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.uploader-left {
  width: 45%;
}

.uploader-right {
  width: 50%;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.progress-bar {
  margin-top: 20px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background-color: #4caf50;
  height: 20px;
  text-align: center;
  color: white;
  line-height: 20px;
  border-radius: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} 
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 